:root {
  --main-color: #35B635;
  --text-color: lightgrey;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
#navbar {
  position: fixed;
  height: 50px;
  z-index: 0;
}
#logo {
  position: absolute;
  font-family: 'Kristi', 'Oswald';
  height: 100%;
  width: 50px;
  color: var(--text-color);
  font-size: 33px;
} 
#social-box {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  position: absolute;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 275px;
  height: 100%;
}
.social-icon-container {
  position: relative;
  width: 40px;
  height: 40px;
}
a:hover, a:visited, a:link, a:active {
  text-decoration: none !important;
}
#social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}
#twitter,
#linkedin {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
}
#email,
#github {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  transform: scale(0.55);
}
#twitter:hover,
#linkedin:hover {
  transform: scale(1.1);
  transition: 0.2s;
}
#email:hover,
#github:hover {
  transform: scale(0.60);
  transition: 0.2s;
}
#welcome-section {
  height: 100vh;
  background-image: url("https://userscontent2.emaze.com/images/93b859f2-0037-49f8-af19-246cb1652f28/eb2ed28ab7b4d5fb653164394796a227.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}

#welcome-line {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -137.5px;
  height: 1px;
  width: 275px;
  background-color: var(--main-color);
}
.welcome-text {
  color: var(--text-color);
  position: fixed;
  top: 50%;
  left: 50%;
}
#welcome-text1 {
  margin-top: -80px;
  margin-left: -90px;
  width: 180px;
}
#welcome-text2 {
  margin-top: -15px;
  margin-left: -154px;
  width: 308px;
  overflow: hidden;
}
#position {
  transform: skewX(-15deg);
  color: var(--main-color);
  font-family: "Oswald";
  position: fixed;
  overflow: visible;
  top: 50%;
  left: 50%;
  margin-top: 35px;
  margin-left: -130px;
  width: 260px;
}

#about-me {
  position: relative;
  background: linear-gradient(180deg, #1f1f1f, black);
  padding: 100px 5% 100px 5%;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  z-index: 1;
}
#about-me-title {
  font-weight: bold;
  font-size: 45px;
  color: var(--text-color);
  font-family: "Oswald";
}
#about-me-paragraph {
  color: var(--text-color);
  line-height: 1.35;
}
#projects { 
  background-color: black;
  position: relative;
  z-index: 2;
  padding-bottom: 50px;
}
.project-container {
  position: relative;
  margin: auto;
  height: 240px;
  width: 360px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.project {
  position: relative;
  height: 240px;
  width: 360px;
  margin: 10px 0px 10px 0px;
  transition: .5s ease;
}
.project-tile {
  transition: .5s ease;
  position: absolute;
  opacity: 0;
  width: 100%;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.project-tile-text {
  transition: .5s;
  background-color: black;
  color: var(--text-color);
  font-size: 18px;
  padding-top: -10px;
  padding-bottom: -18px;
  font-family: 'Oswald', sans-serif;
}
.project-container:hover .project {
  opacity: 0.4;
}
.project-container:hover .project-tile {
  opacity: 1;
}
.project-container:hover .project-tile-text {
  padding-top: 16px;
  padding-bottom: 18px;
}
#skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#skills-text {
  font-family: 'Oswald', sans-serif;
  margin-bottom: -5px;
}
#skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -10px;
  padding-top: 30px;
  align-items: center;
  color: var(--text-color);
  background: linear-gradient(0deg, #1f1f1f, black);
  z-index: 1;
}
#skills-header {
  font-family: 'Oswald', sans-serif;
  color: var(--text-color);
  background-color: black;
  width: 100%;
  text-align: center;
  z-index: 2;
}
.fab {
  margin-bottom: 20px;
}
.fab:hover .skills-text {
  transition: 0.5s;
  opacity: 1;
  transform: translate(0, -7px);
}
.skills-text {
  font-family: 'Oswald', sans-serif;
  opacity: 0;
  font-size: 20px;
  margin-top: 15px;
  color: var(--text-color);
  text-align: center;
}
.fa-html5 {
  color: orange;
}
.fa-css3-alt {
  color: #2965f1;
}
.fa-sass {
  color: pink;
}
.fa-js {
  color: #FFDB4F;
}
.fa-react {
  color: #61DBFB;
}
@media (max-width: 420px) {
  #social-box {
    width: 68%;
    margin: auto;
  }
  .project {
    width: 95%;
  }
  .project-container {
    width: 95%;
  }
  #about-me {
    position: sticky;
    top: 0;
    padding: 20px 5% 150px 5%;
  }
  #skills {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
}
